adfsfdemo/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfsfdemo"
		},
		"blb_ssfdemo_tstcontnrpotu_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blb_ssfdemo_tstcontnrpotu'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blb_ssfdemo_tstcontnrpotu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blb_ssfdemo_tstcontnrpotu_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blb_ssfdemo_tstcontnrpotu",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"src_fl_nm": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().src_fl_nm",
							"type": "Expression"
						},
						"container": "tstcontnrpotu"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blb_ssfdemo_tstcontnrpotu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_item')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blb_ssfdemo_tstcontnrpotu",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ITEM.csv",
						"container": "tstcontnrpotu"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "String"
					},
					{
						"name": "ITEM_DSC",
						"type": "String"
					},
					{
						"name": "BRAND_FAMILY_DSC",
						"type": "String"
					},
					{
						"name": "BRAND_CD",
						"type": "String"
					},
					{
						"name": "SUBBRAND_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_ORIGIN_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_REGION_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_PROVINCE_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_DSC",
						"type": "String"
					},
					{
						"name": "VINTAGE_DSC",
						"type": "String"
					},
					{
						"name": "DESIGNATION_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "PACK_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_PER_PACK_DSC",
						"type": "String"
					},
					{
						"name": "PACK_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "NEGOCIANT_DSC",
						"type": "String"
					},
					{
						"name": "IMPORT_STATUS_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_REGION_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_COUNTRY_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_PROVINCE_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_CLASS_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_SEGMENT_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_SUBCLASS_DSC",
						"type": "String"
					},
					{
						"name": "COLOR_DSC",
						"type": "String"
					},
					{
						"name": "FLAVOR_DSC",
						"type": "String"
					},
					{
						"name": "UOM_DSC",
						"type": "String"
					},
					{
						"name": "UPC_NO",
						"type": "String"
					},
					{
						"name": "FINANCE_SEGMENT_DSC",
						"type": "String"
					},
					{
						"name": "FINANCE_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "FINANCE_SUBGROUP_DSC",
						"type": "String"
					},
					{
						"name": "SIZE_RANGE_CD",
						"type": "String"
					},
					{
						"name": "SIZE_RANGE_DSC",
						"type": "String"
					},
					{
						"name": "NATURE_DSC",
						"type": "String"
					},
					{
						"name": "STATUS_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_SUBREGION_DSC",
						"type": "String"
					},
					{
						"name": "CONSOLIDATED_CD",
						"type": "String"
					},
					{
						"name": "HOLD_COMPANY_DSC",
						"type": "String"
					},
					{
						"name": "SUPPLIER_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "UOM_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_SIZE_NO",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blb_ssfdemo_tstcontnrpotu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgt_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blb_ssfdemo_tstcontnrpotu",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tgt_fl_nm": {
						"type": "string"
					}
				},
				"folder": {
					"name": "tgt"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().tgt_fl_nm",
							"type": "Expression"
						},
						"container": "tgtcontnrpotu"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blb_ssfdemo_tstcontnrpotu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgt_item')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blb_ssfdemo_tstcontnrpotu",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "tgt"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ITEM.csv",
						"container": "tgtcontnrpotu"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "String"
					},
					{
						"name": "ITEM_DSC",
						"type": "String"
					},
					{
						"name": "BRAND_FAMILY_DSC",
						"type": "String"
					},
					{
						"name": "BRAND_CD",
						"type": "String"
					},
					{
						"name": "SUBBRAND_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_ORIGIN_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_REGION_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_DSC",
						"type": "String"
					},
					{
						"name": "APPELLATION_PROVINCE_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "VARIETAL_DSC",
						"type": "String"
					},
					{
						"name": "VINTAGE_DSC",
						"type": "String"
					},
					{
						"name": "DESIGNATION_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "PACK_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_PER_PACK_DSC",
						"type": "String"
					},
					{
						"name": "PACK_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "NEGOCIANT_DSC",
						"type": "String"
					},
					{
						"name": "IMPORT_STATUS_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_REGION_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_COUNTRY_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_PROVINCE_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_CLASS_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_SEGMENT_DSC",
						"type": "String"
					},
					{
						"name": "PRODUCT_SUBCLASS_DSC",
						"type": "String"
					},
					{
						"name": "COLOR_DSC",
						"type": "String"
					},
					{
						"name": "FLAVOR_DSC",
						"type": "String"
					},
					{
						"name": "UOM_DSC",
						"type": "String"
					},
					{
						"name": "UPC_NO",
						"type": "String"
					},
					{
						"name": "FINANCE_SEGMENT_DSC",
						"type": "String"
					},
					{
						"name": "FINANCE_GROUP_DSC",
						"type": "String"
					},
					{
						"name": "FINANCE_SUBGROUP_DSC",
						"type": "String"
					},
					{
						"name": "SIZE_RANGE_CD",
						"type": "String"
					},
					{
						"name": "SIZE_RANGE_DSC",
						"type": "String"
					},
					{
						"name": "NATURE_DSC",
						"type": "String"
					},
					{
						"name": "STATUS_DSC",
						"type": "String"
					},
					{
						"name": "ORIGIN_SUBREGION_DSC",
						"type": "String"
					},
					{
						"name": "CONSOLIDATED_CD",
						"type": "String"
					},
					{
						"name": "HOLD_COMPANY_DSC",
						"type": "String"
					},
					{
						"name": "SUPPLIER_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_TYPE_DSC",
						"type": "String"
					},
					{
						"name": "UOM_SIZE_DSC",
						"type": "String"
					},
					{
						"name": "UNIT_SIZE_NO",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blb_ssfdemo_tstcontnrpotu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pip_Move_File')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 2,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_ID"
										}
									},
									{
										"source": {
											"name": "ITEM_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DSC"
										}
									},
									{
										"source": {
											"name": "BRAND_FAMILY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "BRAND_FAMILY_DSC"
										}
									},
									{
										"source": {
											"name": "BRAND_CD",
											"type": "String"
										},
										"sink": {
											"name": "BRAND_CD"
										}
									},
									{
										"source": {
											"name": "SUBBRAND_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SUBBRAND_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_ORIGIN_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_ORIGIN_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_REGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_REGION_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_PROVINCE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_PROVINCE_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_DSC"
										}
									},
									{
										"source": {
											"name": "VINTAGE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VINTAGE_DSC"
										}
									},
									{
										"source": {
											"name": "DESIGNATION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "DESIGNATION_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "PACK_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PACK_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_PER_PACK_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_PER_PACK_DSC"
										}
									},
									{
										"source": {
											"name": "PACK_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PACK_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "NEGOCIANT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "NEGOCIANT_DSC"
										}
									},
									{
										"source": {
											"name": "IMPORT_STATUS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "IMPORT_STATUS_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_REGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_REGION_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_COUNTRY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_COUNTRY_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_PROVINCE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_PROVINCE_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_CLASS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_CLASS_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_SEGMENT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_SEGMENT_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_SUBCLASS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_SUBCLASS_DSC"
										}
									},
									{
										"source": {
											"name": "COLOR_DSC",
											"type": "String"
										},
										"sink": {
											"name": "COLOR_DSC"
										}
									},
									{
										"source": {
											"name": "FLAVOR_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FLAVOR_DSC"
										}
									},
									{
										"source": {
											"name": "UOM_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UOM_DSC"
										}
									},
									{
										"source": {
											"name": "UPC_NO",
											"type": "String"
										},
										"sink": {
											"name": "UPC_NO"
										}
									},
									{
										"source": {
											"name": "FINANCE_SEGMENT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_SEGMENT_DSC"
										}
									},
									{
										"source": {
											"name": "FINANCE_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "FINANCE_SUBGROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_SUBGROUP_DSC"
										}
									},
									{
										"source": {
											"name": "SIZE_RANGE_CD",
											"type": "String"
										},
										"sink": {
											"name": "SIZE_RANGE_CD"
										}
									},
									{
										"source": {
											"name": "SIZE_RANGE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SIZE_RANGE_DSC"
										}
									},
									{
										"source": {
											"name": "NATURE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "NATURE_DSC"
										}
									},
									{
										"source": {
											"name": "STATUS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_SUBREGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_SUBREGION_DSC"
										}
									},
									{
										"source": {
											"name": "CONSOLIDATED_CD",
											"type": "String"
										},
										"sink": {
											"name": "CONSOLIDATED_CD"
										}
									},
									{
										"source": {
											"name": "HOLD_COMPANY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "HOLD_COMPANY_DSC"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "UOM_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UOM_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_SIZE_NO",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_SIZE_NO"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgt_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "src_item",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-22T19:51:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_item')]",
				"[concat(variables('factoryId'), '/datasets/tgt_item')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pip_Move_File_exp_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 2,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_ID"
										}
									},
									{
										"source": {
											"name": "ITEM_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DSC"
										}
									},
									{
										"source": {
											"name": "BRAND_FAMILY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "BRAND_FAMILY_DSC"
										}
									},
									{
										"source": {
											"name": "BRAND_CD",
											"type": "String"
										},
										"sink": {
											"name": "BRAND_CD"
										}
									},
									{
										"source": {
											"name": "SUBBRAND_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SUBBRAND_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_ORIGIN_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_ORIGIN_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_REGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_REGION_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_DSC"
										}
									},
									{
										"source": {
											"name": "APPELLATION_PROVINCE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "APPELLATION_PROVINCE_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "VARIETAL_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VARIETAL_DSC"
										}
									},
									{
										"source": {
											"name": "VINTAGE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "VINTAGE_DSC"
										}
									},
									{
										"source": {
											"name": "DESIGNATION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "DESIGNATION_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "PACK_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PACK_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_PER_PACK_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_PER_PACK_DSC"
										}
									},
									{
										"source": {
											"name": "PACK_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PACK_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "NEGOCIANT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "NEGOCIANT_DSC"
										}
									},
									{
										"source": {
											"name": "IMPORT_STATUS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "IMPORT_STATUS_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_REGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_REGION_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_COUNTRY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_COUNTRY_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_PROVINCE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_PROVINCE_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_CLASS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_CLASS_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_SEGMENT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_SEGMENT_DSC"
										}
									},
									{
										"source": {
											"name": "PRODUCT_SUBCLASS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_SUBCLASS_DSC"
										}
									},
									{
										"source": {
											"name": "COLOR_DSC",
											"type": "String"
										},
										"sink": {
											"name": "COLOR_DSC"
										}
									},
									{
										"source": {
											"name": "FLAVOR_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FLAVOR_DSC"
										}
									},
									{
										"source": {
											"name": "UOM_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UOM_DSC"
										}
									},
									{
										"source": {
											"name": "UPC_NO",
											"type": "String"
										},
										"sink": {
											"name": "UPC_NO"
										}
									},
									{
										"source": {
											"name": "FINANCE_SEGMENT_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_SEGMENT_DSC"
										}
									},
									{
										"source": {
											"name": "FINANCE_GROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_GROUP_DSC"
										}
									},
									{
										"source": {
											"name": "FINANCE_SUBGROUP_DSC",
											"type": "String"
										},
										"sink": {
											"name": "FINANCE_SUBGROUP_DSC"
										}
									},
									{
										"source": {
											"name": "SIZE_RANGE_CD",
											"type": "String"
										},
										"sink": {
											"name": "SIZE_RANGE_CD"
										}
									},
									{
										"source": {
											"name": "SIZE_RANGE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SIZE_RANGE_DSC"
										}
									},
									{
										"source": {
											"name": "NATURE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "NATURE_DSC"
										}
									},
									{
										"source": {
											"name": "STATUS_DSC",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_DSC"
										}
									},
									{
										"source": {
											"name": "ORIGIN_SUBREGION_DSC",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_SUBREGION_DSC"
										}
									},
									{
										"source": {
											"name": "CONSOLIDATED_CD",
											"type": "String"
										},
										"sink": {
											"name": "CONSOLIDATED_CD"
										}
									},
									{
										"source": {
											"name": "HOLD_COMPANY_DSC",
											"type": "String"
										},
										"sink": {
											"name": "HOLD_COMPANY_DSC"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_DSC",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_TYPE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_TYPE_DSC"
										}
									},
									{
										"source": {
											"name": "UOM_SIZE_DSC",
											"type": "String"
										},
										"sink": {
											"name": "UOM_SIZE_DSC"
										}
									},
									{
										"source": {
											"name": "UNIT_SIZE_NO",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_SIZE_NO"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgt_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "src_item",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-22T19:51:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_item')]",
				"[concat(variables('factoryId'), '/datasets/tgt_item')]"
			]
		}
	]
}